.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contentWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  min-height: 300px;
}

.chartContainer {
  width: 100%;
  height: 100%;
}
